@{
    ViewBag.Title = "Liên hệ";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

<address>
    Long Thành, Đồng Nai<br />
    <abbr title="Số điện thoại">ĐT:</abbr>
    0707183201
</address>

<address>
    <strong>Hỗ trợ:</strong>   <a href="mailto:Support@example.com">nghivu201@gmai.com</a><br />
    <strong>Cộng tác:</strong> <a href="mailto:Marketing@example.com">nghivu201@gmail.com</a>
</address>