
@{
    ViewBag.Title = "ThanhToan";
}

<h3 class="tittle-w3l text-center mb-lg-5 mb-sm-4 mb-3">
    <span>Đ</span>ặt
    <span>H</span>àng
    <span>T</span>hành
    <span>C</span>ông
</h3>
<img height="488" width="343" src="../images/qrcode.jpg" alt="">


@*<h4>Nội dung chuyển khoảng: tên tài khoản người dùng</h4>*@

