
@{
    ViewBag.Title = "ThanhToan";
}

<h3 class="tittle-w3l text-center mb-lg-5 mb-sm-4 mb-3">
    <span>T</span>hanh
    <span>T</span>oán
    <span>T</span>hành
    <span>C</span>ông
</h3>

<a href="https://me.momo.vn/qbIZTetJIVF2T8ieUktWIV/jnegpnvMwxokawZ?fbclid=IwAR04PcZ5ZNRrUJGinADCAPtTVFDlmza8k_8f9N9N78cYOarSiP7AL09RCrM" target="_blank">Mã QR</a>
<img height="50" width="50" src="~/images/MoMo_Logo.png"/>

